<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\ChapterEight\Api\MyInterface"
                type="Magenest\ChapterEight\Model\MyClass"/>

    <type name="Magento\Catalog\Model\Product">
        <plugin sortOrder="10" name="updateNameSpecial"
                type="Magenest\ChapterEight\Plugin\ChangeNameSpecial"/>
    </type>
</config>