<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="900">
            <label>Magenest</label>
        </tab>

        <section id="clock" translate="label" type="text"
                 sortOrder="100" showInDefault="1">

            <label>Clock Configuration</label>

            <tab>magenest</tab>

            <resource>Magenest_Movie::clock_config</resource>

            <group id="movieinfo" translate="label" type="text"
                   sortOrder="1" showInDefault="1">

                <label>Default Clock</label>

                <field id="title_clock" translate="label"
                       type="text" sortOrder="10" showInDefault="1">
                    <label>Title Clock</label>
                </field>

                <field id="size_clock" translate="label"
                       type="select" sortOrder="10" showInDefault="1">
                    <label>Size Clock</label>
                    <source_model>Magenest\ChapterTwo\Model\Config\Source\SizeClock</source_model>
                </field>

                <field id="color_clock" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Color Clock</label>
                    <frontend_model>Magenest\ChapterTwo\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
                </field>

                <field id="color_clock" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Color Clock</label>
                    <frontend_model>Magenest\ChapterTwo\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
                </field>
            </group>

        </section>
    </system>
</config>