<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\Chapter1\Api\RuleRepositoryInterface"
                type="Magenest\Chapter1\Model\ResourceModel\RuleRepository" />
    <preference for="Magenest\Chapter1\Api\Data\RuleInterface"
                type="Magenest\Chapter1\Model\Data\Rule" />
    <preference for="Magenest\Chapter1\Api\Data\RuleSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />
</config>